.ms{
    margin-top: 128px;
}
.info{
    font-family: Roboto;
font-size: 55px;
font-weight: 500;
line-height: 64px;
letter-spacing: 0em;
text-align: left;

}
.infos{
width: 496px;
margin-top: 50px;

}
.infoes{
    
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    }
    .vds{
        color: #FF8947;
        font-family: Poppins;
        font-size: 26px;
        font-weight: 500;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        
    }
    .center{
        
        margin-top: 172px;
        
     
    }
